body {
    text-align: center;
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #ffb990;
    line-height: 0;
    font-size: 2.5vw;
    font-weight: 400;
    margin-top: 50px;
}
p {
    color: #a5a5a5;
    font-size: 0.9vw;
    font-weight: 300;
}
a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    background-color: #ffbe6a;
    color: #333333;
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
    margin-top: 10px;
    width: 6.2vw;
    font-size: 0.9vw;
  }